.test {
  position: relative;
  font-size: 1.6rem;
  padding: 1rem;
  margin-right: 0.5rem;
  border: 1px solid #000;
  animation: fire 0.1s;
  border-bottom: 10px solid #000;
  outline: 0;
}

@keyframes fire {
  from {
    top: 9px;
    border-bottom: 1px solid #000;
  }
  to {
    border-bottom: 10px solid #000;
  }
}
